/* SlideInComponent.css */
.slide-in {
  opacity: 0;
  /* background: beige; */
  /* height: 40vh; */
  padding: 1rem;
  text-align: center;
  transform: translateX(10%);
  transition: transform 0.5s, opacity 0.5s;
}

.slide-in.visible {
  opacity: 1;
  transform: translateX(0);
}
.slider {
  background: rgb(63, 152, 106);
  height: 200vh;
  /* padding-top: 100vh; */
}
.gap {
  height: 20rem;
}
